<dl class="flex flex-wrap mb-3">
    <%= for {key, value} <- @map do %>
        <dt class="w-1/4"><span class="text-sm"><b><%= key %></b></span></dt>
        <dd class="w-9/12 overflow-auto m-l-auto"><samp class="text-sm"><%= value %></samp></dd>
    <% end %>
</dl>
