<div class="row">
<p>This is your webhook destination, it will be alive for 24 hours.</p>

<p>Post a message to the inbox by making a request to <%= @url %>.</p>

<p>
Ex:
<code>curl -XPOST <%= @url %> -d "hello!"</code>
</p>

<div id="requests">
<%= for request <- @requests do %>
    <%= render "request.html", request: request %>
<% end %>
</div>

</div>