<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Lasso is tool to visualize HTTP requests, specifically made for inspecting webhook callbacks.">

    <meta property="og:title" content="Lasso" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lasso.gigalixirapp.com" />
    <meta property="og:image" content="https://lasso.gigalixirapp.com/images/lasso.svg" />

    <title>Lasso - webhook UI</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="masthead mb-auto clearfix">
      <section class="container">
        <div class="inner">
          <nav class="nav nav-masthead float-right">
            <a class="nav-link text-secondary" href="https://github.com/vorce/lasso">Code</a>
          </nav>
          <h2 class="masthead-brand font-weight-normal"><a href="/" class="text-dark"><strong>Lasso</strong></a> <small class="text-muted font-weight-lighter"><%= :application.get_key(:lasso, :vsn) |> elem(1) %></small></h2>
        </div>
      </section>
    </header>

    <main role="main" class="container">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
