<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Description" content="Lasso is tool to visualize HTTP requests, specifically made for inspecting webhook callbacks.">

    <meta property="og:title" content="Lasso" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://lasso.gigalixirapp.com" />
    <meta property="og:image" content="https://lasso.gigalixirapp.com/images/lasso.svg" />

    <title>Lasso - webhook UI</title>

    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="container mx-auto" role="banner" aria-label="Header">
      <section class="container">
        <div class="flex flex-row justify-between" role="navigation" aria-label="Navigation">
          <h1 class="text-3xl"><a href="/" class="font-bold">Lasso</a> <small class="font-thin text-gray-500"><%= :application.get_key(:lasso, :vsn) |> elem(1) %></small></h1>
          <nav class="flex-0 self-center">
            <a class="nav-link text-gray-600" href="https://github.com/vorce/lasso">Code</a>
          </nav>
        </div>
      </section>
    </header>

    <main role="main" class="container mx-auto" aria-label="Main content">
      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-2 rounded relative mb-2" role="alert">
          <span class="block sm:inline"><%= get_flash(@conn, :info) %></span>
        </div>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded relative mb-2" role="alert">
          <span class="block sm:inline"><%= get_flash(@conn, :error) %></span>
        </div>
      <% end %>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
